<div class="text-center mt-5">
    <h1 class="display-4">VGC College System</h1>
    <p class="lead">Manage students, courses, and academic progress</p>

    <div class="mt-4">
        <a asp-controller="Courses" class="btn btn-primary btn-lg m-2">Courses</a>
        <a asp-controller="Students" class="btn btn-success btn-lg m-2">Students</a>
        <a asp-controller="Assignments" class="btn btn-warning btn-lg m-2">Assignments</a>
        <a asp-controller="Exams" class="btn btn-danger btn-lg m-2">Exams</a>
    </div>
</div>