@model IEnumerable<VgcCollege.Web.Models.ExamResult>

<h2>Exam Results</h2>

<table class="table table-bordered">
    <tr>
        <th>Student</th>
        <th>Exam</th>
        <th>Course</th>
        <th>Score</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.StudentProfile?.Name</td>
            <td>@r.Exam?.Title</td>
            <td>@r.Exam?.Course?.Name</td>
            <td>@r.Grade</td>
        </tr>
    }
</table>